@model FazendaUniao.Models.Insumo

@{
    ViewData["Title"] = "Details";
}

<div id="tabela-detalhes" class="container custom-container">
    <h1>Detalhes do Insumo</h1>

    <dl id="detalhes-insumo" class="row">
        <div class="detalhe-item">
            <dt class="detalhe-label col-sm-2">Nome do Fornecedor</dt>
            <dd class="detalhe-valor col-sm-10">@Html.DisplayFor(model => model.Fornecedor.Nome)</dd>
        </div>
        <div class="detalhe-item">
            <dt class="detalhe-label col-sm-2">Nome do Insumo</dt>
            <dd class="detalhe-valor col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>
        </div>
        <div class="detalhe-item">
            <dt class="detalhe-label col-sm-2">Descrição</dt>
            <dd class="detalhe-valor col-sm-10">@Html.DisplayFor(model => model.Descricao)</dd>
        </div>
        <div class="detalhe-item">
            <dt class="detalhe-label col-sm-2">Quantidade(g)</dt>
            <dd class="detalhe-valor col-sm-10">@Html.DisplayFor(model => model.Quantidade)</dd>
        </div>
    </dl>

    <div id="botao-cadastro" class="form-group">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.InsumoId">Editar</a>
        <a class="btn btn-light" asp-action="Index">Voltar</a>
    </div>
</div>

