@{
    ViewData["Title"] = "Pagina Inicial";
}

<!DOCTYPE html>
<html>
<head>
    <title>FU Pagina Inicial</title>
</head>
<body>

    <div>
        <div class="tituloH1">
            <h1>Fazenda União</h1>
            <h5 class="Titulosh5">A Magia acontece aqui!</h5>
        </div>
    </div>

    <!-- Carrossel com rolagem infinita -->
    <div class="carousel">
        <div class="group">
            <div class="card"><img src="/imagens/AnaliseOrtalicas.png" alt="A" /></div>
            <div class="card"><img src="/imagens/FazendaVertical.jpg" alt="B" /></div>
            <div class="card"><img src="/imagens/Selecionados.jpg" alt="C" /></div>
            <div class="card"><img src="/imagens/AnalisandoAPlantacao.jpg" alt="D" /></div>
            <div class="card"><img src="/imagens/Colheita.jpg" alt="E" /></div>
        </div>
        <!-- Duplicação do grupo para a rolagem infinita -->
        <div class="group" aria-hidden="true">
            <div class="card"><img src="/imagens/AnaliseOrtalicas.png" alt="A" /></div>
            <div class="card"><img src="/imagens/FazendaVertical.jpg" alt="B" /></div>
            <div class="card"><img src="/imagens/Selecionados.jpg" alt="C" /></div>
            <div class="card"><img src="/imagens/AnalisandoAPlantacao.jpg" alt="D" /></div>
            <div class="card"><img src="/imagens/Colheita.jpg" alt="E" /></div>
        </div>
    </div>


    <!--Bootstrap || W3schools-->
    <div class="InicialProdutos">
        <h3 class="Titulosh3Produtos">Colhemos com carinho para entregar frescor e qualidade em cada produto.</h3>
        <hr class="Produtoshr">
    </div>
    <br />
    <div class="scroll-container">
        <div class="scroll-container">
            <p><strong class="titulo">Alface Fresca</strong><br>Direto da horta, rica em<br>nutrientes e sabor! A<br>melhor opção para uma<br>refeição leve e saudável.</p>
            <img src="/imagens/Hortalicas.jpg" alt="hortalica">
        </div>

        <div class="scroll-container">
            <p><strong class="titulo">Tomate Cereja</strong><br>Popular por seu sabor<br>doce e textura macia!<br>Ideal para saladas e<br>lanches fresquinhos.</p>
            <img src="/imagens/TomateCereja.jpg" alt="Tomate Cereja">
        </div>

        <div class="scroll-container">
            <p><strong class="titulo">Morangos Selecionados</strong><br>Campeão de vendas por ser <br>conciderado o mais doce<br>morango do estado de<br>São Paulo!</p>
            <img src="/imagens/Morangos.jpg" alt="Morangos">
        </div>

    </div>


</body>
</html>