<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Política de Privacidade</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo">Política de Privacidade</h1>
        <p class="update-date">Última atualização: 14/11/2024</p>
        <p>A Fazenda Urbana União se compromete a proteger a privacidade de seus clientes. Esta Política de Privacidade descreve como coletamos e utilizamos suas informações.</p>

        <h4 class="titulo">Coleta de Informações</h4>
        <p>Coletamos informações quando você faz um pedido por ligação, e-mail ou WhatsApp. As informações podem incluir seu nome, número de telefone e e-mail.</p>

        <h4 class="titulo">Uso das Informações</h4>
        <p>Utilizamos suas informações para:</p>
        <ul>
            <li>Processar pedidos e melhorar nosso atendimento.</li>
            <li>Enviar confirmações e atualizações sobre seus pedidos.</li>
        </ul>

        <h4 class="titulo">Acesso às Informações</h4>
        <p>Somente usuários autorizados têm acesso ao sistema e às informações dos clientes. Não compartilhamos suas informações com terceiros.</p>

        <h4 class="titulo">Segurança</h4>
        <p>Adotamos medidas de segurança para proteger suas informações, mas não garantimos a segurança absoluta.</p>

        <h4 class="titulo">Seus Direitos</h4>
        <p>Você pode solicitar acesso ou correção de suas informações entrando em contato conosco pelo e-mail [seu e-mail de contato].</p>

        <h4 class="titulo">Alterações à Política</h4>
        <p>Podemos atualizar esta Política de Privacidade. Recomendamos que você a revise periodicamente.</p>

        <h4 class="titulo">Contato</h4>
        <p>Para dúvidas, entre em contato pelo e-mail "FazendaUniao@gmail.com" ou telefone (16) 99654-2082.</p>
    </div>
</body>
</html>